<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".app.MyApplication"
        android:allowBackup="false"
        android:allowClearUserData="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.bakers"
        android:usesCleartextTraffic="true"
        tools:ignore="allowBackup, GoogleAppIndexingWarning"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31">
        <activity
            android:name=".ui.Main.gitHub.GitHubRepoActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDIDMBajUHQ5BLOMHlTGeQGHJve31bss8s" />

        <activity
            android:name=".ui.RootAcrivity.SplashScreen.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.bakers.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>